* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.logo h1 {
  font-weight: 800;
  font-size: 1.9rem;
}

.nav__button {
  background-color: #fff;
  padding: 12px 20px;
  font-weight: bold;
}
.nav__button:hover {
  opacity: 0.6;
}
.nav__links {
  display: flex;
  gap: 2rem;
  font-weight: bold;
  align-items: center;
}
.nav__links li a:hover {
  color: #5557ec;
  text-decoration: underline;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6rem;
  border-bottom: 1.4px solid #e4dfdf;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  height: 70px;
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

h1.floating-text {
  animation: floating 2s ease-in-out infinite;
}
.hero {
  height: calc(100% - 70px);
  padding-top: 70px;
  display: flex;
}
.left-upper {
  padding: 6rem;
}
.left__hero {
  line-height: 1.5rem;
}
.hero__heading-span {
  background-color: #5557ec;
  color: white;
  padding: 10px 17px;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 500;
  transition: transform 0.3s ease-in-out;
}
.info p {
  font-weight: 500;
}
.hero__heading-span:hover,
.hire_me:hover,
.projects:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.1);
}
.dot {
  color: #5557ec;
  font-weight: bold;
  font-size: 2rem;
}
.down-left {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-block: 3rem;
}
.hero__heading {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.hero__para {
  margin-bottom: 1.5rem;
  font-weight: 600;
}
.left-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-block: 3rem;
}
.hire_me {
  background-color: #5557ec;
  padding: 14px 32px;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: transform 0.3s ease-in-out;
}
.projects {
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: white;
  font-size: 0.9rem;
  transition: transform 0.3s ease-in-out;
}
.left-info,
.left-down-info p {
  font-weight: 600;
}
.left-down-info {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 3rem 0;
}
footer p {
  font-weight: 500;
}
footer {
  background-color: rgb(48, 47, 47);
  color: white;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.left-footer {
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.left-footer button {
  background-color: #5557ec;
  padding: 14px 32px;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: transform 0.3s;
}
.left-footer button:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(1.1);
}
.left-footer h1 {
  font-weight: 600;
  font-size: 1rem;
  align-self: flex-start;
}
.right-footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 0.8rem;
}

.right-footer p {
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
}
.hero {
  display: flex;
}
.right-hero {
  background-image: url("./mypic-transformed.png");
  position: relative;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-color: #ddd1c1;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  background-position: center center;
}
.right-hero p {
  font-weight: 400;
  font-size: 1.3rem;
  padding: 2rem;
  line-height: 2rem;
}
.right-hero input {
  padding: 1rem;
  border: none;
  font-size: 0.7rem;
  font-weight: 600;
  width: 100%;
  outline: none;
  align-self: center;
}
.right-hero .input-field {
  display: flex;
  align-items: center;

  align-self: center;
  width: 60%;
}
.input-field i {
  color: #fff;
  background-color: black;
  padding: 0.9rem;
  transition: transform 0.3s ease-in-out;
}
.input-field i:hover {
  cursor: pointer;
  transform: translateX(5px);
}
@media screen and (max-width: 1050px) {
  .hero {
    flex-direction: column;
  }
  .right-hero {
    gap: 30rem;
  }
}
@media screen and (max-width: 917px) {
  .nav__links {
    display: none;
  }
  .hero__heading h1 {
    font-size: 1.5rem;
  }
  .hero__heading {
    gap: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .left-buttons,
  .hero__heading {
    flex-direction: column;
    gap: 3rem;
  }
  .hero__para {
    text-align: center;
    margin: 0;
  }
  button {
    width: 100%;
  }
  nav button {
    width: 40%;
  }
  .left-upper h1 {
    font-size: 2rem;
  }
  .down-left h1 {
    font-size: 1.5rem;
  }
  .down-left p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 390px) {
  nav {
    gap: 2rem;
    padding: 1rem;
  }
  .left-upper {
    padding: 70px 1rem;
  }
  footer {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    align-items: start;
  }
  .right-hero p {
    font-size: 0.8rem;
  }
}
